.fon {
    position: absolute;
    top: 60px;
    left: 0;
    width: fit-content;
    height: fit-content;
    padding: 5px;

    span {
        padding-right: 5px;
        font-weight: bold;

        &:not(:last-child)::after{
            content: " >";
        }
    }
}